body {
  text-align: center;
}

.button-row {
  margin: 1em 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2em;
}

.divider {
  width: 80%;
}

.results-box {
  border: 1px;
  border-color: black;
  background-color: rgb(181, 188, 181);
  padding: 1em;
  margin: 1em auto;
  width: 80%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

.scoreboard {
  margin-top: 1em;
  font-size: 1.1em;
}

ul {
  display: inline-block;
  text-align: left;
}